// @Danarquio

.blog {
  background-color: $secundaryColor ;
  display: flex;
  flex-direction: row;
  padding: 30px;

  @include minilaptop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .cuadroblog {
    padding: 25px;
    display: flex;
    background-color: #D9D9D9;
    width: 50%;
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    align-content: left;
    margin: 20px;

    @include minilaptop {
      padding: 10px;
      margin: 5px;
      width: 95%;
      gap: 00px;
    }

    @include mobile {
      padding: 10px;
      margin: 5px;
      width: 95%;
      gap: 00px;
    }

    .blog__image {
      width: 100%;
      border-radius: 25px;
    }

    .blog__titulo {
      color: $mainColor ;
      display: flex;
      font-size: 50px;
      font-family: "AdventPro";
    }

    .blog__subtitulo {
      color: black;
      display: flex;
      font-size: 20px;
      font-family: "OswaldM";
    }

    .blog__resumen {
      color: black;
      display: flex;
      font-size: 20px;
      font-family: "OswaldR";
    }
  }
}