// @Danarquio
main {
    background-color: $mainColor;
    border: $mainColor;
    width: 100%;

    .secciones {
        padding: 0px;
        display: flex;
        width: 100%;
        align-self: center;
        justify-content: center;

        @include mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }

        .card1 {
            padding: 20px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 25%;
            align-items: center;
            justify-content: center;
            transition: 0.5s;

            &:hover {
                transform: translate(0, -10px);
                padding: 20px;
                background-color: $secundaryColor;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: "OswaldB";
            }

            @include mobile {
                width: 100%;
            }

            .tiendabre {
                width: 40%;
                transition: 1s;
                transition: clip-path 2s;


                &:hover .cortina1 {
                    display: none;
                }

                &:hover .cortina2 {
                    display: none;
                }
            }

            .calderomove {
                width: 50%;

                .palo2 {
                    display: none
                }

                .palo3 {
                    display: none
                }

                &:hover .palo {
                    display: none;
                }

                &:hover .palo3 {
                    display: flex;
                }
            }

            .libraco {
                width: 50%;

                .labierto {
                    display: none;
                }

                &:hover .labierto {
                    display: flex;
                }

                &:hover .lcerrado {
                    display: none;
                }
            }

            .llamas {
                width: 50%;

                .llamota {
                    display: none;
                }

                &:hover .llamita {
                    display: none;
                }

                &:hover .llamota {
                    display: flex;
                }
            }

            .card_image {
                width: 150px;
                align-self: center;
                justify-content: center;
            }

            .card_text {
                gap: 30px;
                display: flex;
                color: white;
                font-size: 25px;
                align-self: center;
                justify-content: center;
            }
        }
    }
}