.ventanilla {
    background-color: $secundaryColor;
    background-image: url(../Imagenes/charcuteria1.svg);
    background-position: center center;
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;


    .cuadroventa {
        background-color: rgb(34, 34, 34, .70);
        width: 94%;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5fr 1fr;
        grid-template-areas:
            "descripcion foto"
            "precio boton";
        justify-content: center;
        align-items: center;
        padding: 20px;

        @include minilaptop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .fotoproducto {

            grid-area: foto;

            .carrus {
                padding: 30px;
            }

            img {
                border-radius: 20px;
                width: 80%;
                margin-left: 60px;
                @include mobile {
                    margin-left: 30px;
                }
            }
        }

        .botoncompra {
            grid-area: boton;
            height: 65px;
            width: 80%;
            background-color: #910000;
            color: #fff;
            font-size: 34px;
            border-radius: 4px;
            align-items: center;
            justify-items: center;
            justify-content: center;
            margin-left: 60px;

            @include minilaptop {
                margin-right: 00px;
                margin-left: 0px;
            }
        }

        .precioproducto {
            grid-area: precio;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            @include minilaptop {
                padding: 10px;
            }
            h3 {
                font-size: 65px;
                color: white;
                font-family: "AdventPro";
                @include minilaptop {
                    margin-right: 30px;
                }
            }

            .cantidad__input {
                width: 60px;
                height: 60px;
                text-align: center;
                font-size: 28px;
                margin: 10 10px;
            }
        }

        .descproducto {
            grid-area: descripcion;
            padding: 20px;
            width: 100%;

            h2 {
                color: $Color3;
                font-family: "AdventPro";
                font-size: 70px;
            }

            h4 {
                font-family: "OswaldR";
                color: #828282;
                font-size: 30px;
            }

            hr {
                border-style: solid;
                border-color: #9B3232;
                opacity: 90%;
                border-width: 2px;
                width: 100%;
            }

            p {
                color: white;
                font-size: 22px;
                font-family: "OswaldR";
                width: 80%;
            }

            .indicacion {
                font-size: 18px;
            }
        }
    }



}